{% extends 'base.html' %}
{% block main %}
    <section class="food-choices">
        
        <div class="message">
            {% if user.is_authenticated %}
                {% if messages %}
                    {% for message in messages %}
                    <p style="margin:10px;width: 100%; 
            background-color: lightseagreen;border-radius: 10px;; color:white; padding: 10px; top: 0;text-align: center;"> {{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endif %}
        </div>
        <h1>Food Menu</h1>
        <div class="menu">
            {% for item in items %}
            <div class="item">
                <img src="{{item.item_img}}" alt="">
                <div class="item-info">
                    <h2>{{item.item_name}}</h2>
                    <p>{{item.item_description}}</p>
                    <a  href="{% url 'app:item_detail' item.id %}">View More</a></li>
                </div>
              
                        
            
    
            </div>
            
            {% endfor %}
        </div>

    </section>
    
{% endblock %}