{% extends 'users/base.html' %}
{% load static %}
{% block main %}
    <div class="message">
        {% if messages %}
            {% if login_page %}
            {% for message in messages %}
               <p style="margin:0;position: absolute; width: 100%; 
     background-color: lightseagreen; color:white; padding: 10px; top: 0;text-align: center;"> {{message}}</p>
            {% endfor %}
            {% endif %}
        {% endif %}
    </div>
    
    <form action="{% url 'users:login' %}" class="register-form" method="POST">
        {% csrf_token %}
        <img src="{% static 'imgs/logo.png' %}" alt="">
        <h1>Login</h1>
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div style="background-color: orangered; color: white; padding: 5px; width: 100%;">
                {% for error in form.non_field_errors %}
                    <p style="margin: 0;">{{error}}</p>
                {% endfor %}
            </div>
        {% else %}
            <p>No errors found</p>
        {% endif %}



        <div class="form-group">
            {{form.username.label}} <br>
            {{form.username}}
        </div>

        <div class="form-group">
            {{form.password.label}}<br>
            {{form.password}}
        </div>


        <input type="submit" value="Login">
        <p>Don't have an account? Register <a href="{% url 'users:register' %}">here</a></p>
    </form>
  
{% endblock %}